h1{
    color: rgba(8, 218, 26, 0.747);
      background-color: aqua;
        border: 40px;
          border-radius: 40px;
}
p{
    color:blue;
    background-color: aqua;
      border: 40px;
        border-radius: 40px;
}
